//
//  debug_project.xcconfig
//  ios_awesome_proj
//
//  Created by codermy on 2024/4/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "./base_project.xcconfig"
#include "../Pods/Target Support Files/Pods-ios_awesome_proj/Pods-ios_awesome_proj.debug.xcconfig"
